@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;
  
}
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;

}
.banner-content{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
}
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;

}
.banner img{
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;



}

/*main section*/

main{
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container{
    display: flex;
    align-items: center;
}

.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 8px;
    margin-left: 120px ;

    
}
.teams-content{
    padding-left: 70px;
    

}
.teams-title{
    font-size: 3rem;

}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;

}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-size: 1rem;
    padding-bottom: 20px;
    width: 537px;
    line-height: 1.625rem;
    
}

/* facts */
.facts-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-left: 95px;
    width: 258px;
    height: 53px;
}
.text-facts{
    color:  #727272;
    font-size: 1rem;
    line-height: 1.625rem; 
    margin-left: 95px;
    width: 542px;
    height: 52px;

    
}
.facts-card{
    display: flex;
    justify-content: space-around;
    padding: 110px;
    padding-top: 30px;
}
.facts-card .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:30px;
}
.facts-card .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card .card-title1{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.facts-card .card-title2{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;

}
.facts-card .card-title3{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
    padding-left: 13px;
    padding-right: 13px;

}
.facts-card .card-title4{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

}
/*sponsor*/
.section-title{
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
    text-align: center;
}
.section-text{
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625rem;
    
}
.sponsors-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 40px;
    align-items: center;
}
.sponsors-img img{
    width: 165px;
}

/*responsive*/

@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .nav-title{
        margin-left: 50px;
        margin-right: 50px;
    }
    nav li{
        margin-right: 25px ;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-image{
        grid-template-columns: 1fr;
        margin-left: 0px;
    }
    .teams-description{
        width: 250px;
    }
    .teams-content{
        padding-left: 50px;
        padding-right: 20px;
    }
    .facts-card{
        flex-direction:column;
        padding: 20px;
        gap: 20px;
    }
    .facts-title{
        margin-left: 50px;
    }
    .text-facts{
        margin-left: 50px;
        width: 300px;
        height: 10px;
        margin-bottom: 100px;
    }
    .sponsors-img{
        flex-direction: column;
    }
    
}


@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container, .sponsors-img {
        flex-direction: column;
    }
    .nav-title{
        margin-left: 207px;
    }
    nav li{
        margin-left: 55px;
    }
    .teams-image{
        margin-left: 0px;
    }
    .teams-content{
        padding-left: 0px;
    }
    .facts-title{
        margin-left: 75px;
    }
    .text-facts{
        margin-left: 75px;
    }
    .facts-card{
        padding: 5px;
    }
    .facts-card .card-title1{
        margin-top: 15px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .facts-card .card-title2{
        margin-top: 15px;
        padding-left: 4px;
        padding-right: 4px;
    
    }
    .facts-card .card-title3{
        margin-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
    
    }
    .facts-card .card-title4{
        margin-top: 15px;
        padding-left: 27px;
        padding-right: 27px;
    
    }
    .facts-card .card-stats{
        font-size: 1.8rem;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .facts-card .card{
        padding: 15px 5px;
    }

    

}
