@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;
  
}
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;

}
.banner-content{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
}
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;

}
.banner img{
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;



}

/*main section*/

main{
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container{
    display: flex;
    align-items: center;
}

.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 8px;
    margin-left: 120px ;

    
}
.teams-content{
    padding-left: 70px;
    

}
.teams-title{
    font-size: 3rem;

}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;

}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-size: 1rem;
    padding-bottom: 20px;
    width: 537px;
    line-height: 1.625rem;
    
}


/*responsive*/

@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .nav-title{
        margin-left: 50px;
        margin-right: 50px;
    }
    nav li{
        margin-right: 25px ;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-image{
        grid-template-columns: 1fr;
        margin-left: 0px;
    }
    .teams-description{
        width: 250px;
    }
    .teams-content{
        padding-left: 50px;
        padding-right: 20px;
    }
    
}


@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container {
        flex-direction: column;
    }
    .nav-title{
        margin-left: 207px;
    }
    nav li{
        margin-left: 55px;
    }
    .teams-image{
        margin-left: 0px;
    }
    .teams-content{
        padding-left: 0px;
    }
}
